{% extends 'layout.html' %}

{% block body %}
<!--Подключаем скрипт для CRUD -->
<script src="{{ url_for('static', filename = 'js/catalog.js') }}"></script>

		<div id="main" class="row">
			<!-- <h2>Меню</h2> -->
			<div class="col-md-6">
				<div class="catalog" id="group">
					<h3>Группы</h3>
					<a href="#" class="btn btn-block btn-success" id="create-group">Создать <span class="glyphicon glyphicon-plus"></span></a>
					<div class="list-group">
						{% for group in groups %}
						<a href="#" class="list-group-item" id="group-{{group.id}}"><span class='group-name'>{{group.name}}</span>
							<div class="btn-group pull-right">
								<button type="button"  id="edit-group-{{group.id}}" class="btn-xs btn-info edit">Редактировать</button>
								<button type="button" id="delete-group-{{group.id}}" class="btn-xs btn-danger delete">Удалить</button>
							</div>
						</a>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="catalog" id="product">
					<h3>Товары</h3>
					<a href="#" class="btn btn-block btn-success disabled" id="create-product">Создать <span class="glyphicon glyphicon-plus"></span></a>
					<div class="list-group">
					</div>
				</div>
			</div>
		</div>
		{% block modal_window %}
		<div id="modal">
			<form>
			</form>
		</div>
		<div id="layer">

		</div>
		{% endblock %}
{% endblock %}
