{% extends 'layout.html' %}

{% block body %}
<!--Подключаем скрипт для CRUD -->
<script src="{{ url_for('static', filename = 'js/cashbox.js') }}"></script>

		<div class="main" class="row">
			<div class="col-md-3">
				<div class="cashbox category-box">
					<h1>Категории</h1>
					<button type="button" id="back" class="btn btn-info btn-xs"><span class="glyphicon glyphicon-arrow-left"></span> Назад</button>
					<div class="list-group">
						{% for group in groups %}
						<a href="#" class="list-group-item" id="group-{{ group.id }}">{{ group.name }}</a>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="col-md-9">
				<div class="cashbox cashbox-menu">
					<!--ряд панели с кнопками-->
					<div  class="row" id="header-toolbar">
						<div class="col-md-2">
							<button class="btn btn-default btn" id="open-cashbox">Открыть смену</button>
						</div>
						<div class="col-md-2">
							<button class="btn btn-default disabled" id="close-cashbox">Закрыть смену</button>
						</div>
					</div>
					<!--ряд списка товаров в корзине-->
					<div class="row" id='product-title'>
						<div class="col-md-1">№</div>
						<div class="col-md-5">Товар</div>
						<div class="col-md-2">Количество</div>
						<div class="col-md-2">Цена</div>
						<div class="col-md-2">Сумма</div>
					</div>
					<div class="row" id='product-list'>
					</div>
					<div class="row" id="footer-toolbar">
						<div class="col-md-2">
							<p>Деньги в кассе: <br>
							<span id=""cash>1000 грн</span>
							</p>
						</div>
						<div class="col-md-2 col-md-offset-8">
							<button class="btn btn-default btn-lg disabled" id="commit-check">Пробить</button>
						</div>
					</div>
				</div>
			</div>
		</div>
		{% block modal_window %}
		<div id="modal">
			<form>
			</form>
		</div>
		{% endblock %}
{% endblock %}

