{% extends 'layout.html' %}

{% block body %}
<script>
	$(document).ready(function(){

		// активация по нажатию на группу
		$("body").on('click', '.list-group-item', function(e){
			e.preventDefault();
			var clickedId = this.id.split('-');
			if(clickedId[0] == 'group'){
				$(".list-group-item").removeClass('active');
				$(this).addClass('active')
			}
		})
		//создание группы
		$("body").on('click', '.btn-success', function(e){
			e.preventDefault();
			var clickedId = this.id.split('-')
			if(clickedId[0] == 'create'){
				var name = prompt("Название:", "");
				if(name != null && name != ''){
					$("#" + clickedId[1] + " .list-group").append('<a href="#" class="list-group-item" id="' + clickedId[1] + '-3">' + name +'<span class="badge delete" id="delete-' + clickedId[1] + '-3"> Удалить</span><span class="badge edit" id="edit-' + clickedId[1] + '-3"> Редактировать</span></a>');
				}
			}
		})
		// редактирование группы
		$("body").on('click', '.edit', function(e){
			e.preventDefault();
			var clickedId = this.id.split("-");
			var text_parts = $('#' + clickedId[1] +'-' +clickedId[2]).text().split('\n');
			var replace_text = prompt("Измените текст", text_parts[0].trim()).trim();
			if(replace_text != "" && replace_text != null){
				$('#'+ clickedId[1] + '-' + clickedId[2]).html(replace_text + '<div class="btn-group pull-right"> <button type="button"  id="edit-'+ clickedId[1] + '-' + clickedId[2] +'" class="btn-xs btn-info edit">Редактировать</button> <button type="button" id="delete-' + clickedId[1] + '-' + clickedId[2]+'" class="btn-xs btn-danger delete">Удалить</button></div>');
			}
		})

		// удаление группы
		$("body").on('click', '.delete', function(e){
			e.preventDefault();
			var clickedId = this.id.split("-");
			if(confirm("Вы точно хотите удалить ?")){
				$("#" + clickedId[1] +"-"+clickedId[2]).hide('slow');
			}
		})
	})
</script>
		<div id="menu" class="row">
			<h2>Меню</h2>
			<div class="col-md-6">
				<div class="catalog" id="group">
					<h3>Группы</h3>
					<a href="#" class="btn btn-block btn-success" id="create-group">Создать <span class="glyphicon glyphicon-plus"></span></a>
					<div class="list-group">
						<a href="#" class="list-group-item" id="group-1">Бургеры
							<div class="btn-group pull-right">
								<button type="button"  id="edit-group-1" class="btn-xs btn-info edit">Редактировать</button>
								<button type="button" id="delete-group-1" class="btn-xs btn-danger delete">Удалить</button>
							</div>
						</a>
						<a href="#" class="list-group-item" id="group-2">Салаты
							<div class="btn-group pull-right">
								<button type="button"  id="edit-group-2" class="btn-xs btn-info edit">Редактировать</button>
								<button type="button" id="delete-group-2" class="btn-xs btn-danger delete">Удалить</button>
							</div>
						</a>
						<a href="#" class="list-group-item" id="group-3">Напитки
							<div class="btn-group pull-right">
								<button type="button"  id="edit-group-3" class="btn-xs btn-info edit">Редактировать</button>
								<button type="button" id="delete-group-3" class="btn-xs btn-danger delete">Удалить</button>
							</div>
						</a>
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="catalog" id="dish">
					<h3>Блюда</h3>
					<a href="#" class="btn btn-block btn-success" id="create-dish">Создать <span class="glyphicon glyphicon-plus"></span></a>
					<div class="list-group">
						<a href="#" class="list-group-item" id="dish-1">Бургер американский
							<span class=" price"> | 80грн</span>
							<div class="btn-group pull-right">
								<button type="button"  id="edit-dish-1" class="btn-xs btn-info edit">Редактировать</button>
								<button type="button" id="delete-dish-1" class="btn-xs btn-danger delete">Удалить</button>
							</div>
						</a>
						<a href="#" class="list-group-item" id="dish-2">Бургер европейский
							<span class=" price"> | 80грн</span>
							<div class="btn-group pull-right">
								<button type="button"  id="edit-dish-2" class="btn-xs btn-info edit">Редактировать</button>
								<button type="button" id="delete-dish-2" class="btn-xs btn-danger delete">Удалить</button>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
{% endblock %}
