{% extends 'layout.html' %}

{% block body %}
<!--Подключаем скрипт для CRUD -->
<script src="{{ url_for('static', filename = 'js/catalog.js') }}"></script>
		<div id="menu" class="row">
			<h2>Меню</h2>
			<div class="col-md-6">
				<div class="catalog" id="group">
					<h3>Группы</h3>
					<a href="#" class="btn btn-block btn-success" id="create-group">Создать <span class="glyphicon glyphicon-plus"></span></a>
					<div class="list-group">
						{% for group in groups %}
						<a href="#" class="list-group-item" id="group-{{group.id}}">{{group.name}}
							<div class="btn-group pull-right">
								<button type="button"  id="edit-group-{{group.id}}" class="btn-xs btn-info edit">Редактировать</button>
								<button type="button" id="delete-group-{{group.id}}" class="btn-xs btn-danger delete">Удалить</button>
							</div>
						</a>
						{% endfor %}
					</div>
				</div>
			</div>
			<div class="col-md-6">
				<div class="catalog" id="product">
					<h3>Товары</h3>
					<a href="#" class="btn btn-block btn-success" id="create-product">Создать <span class="glyphicon glyphicon-plus"></span></a>
					<div class="list-group">
						<a href="#" class="list-group-item" id="product-1">Бургер американский
							<span class="price"> | 80грн</span>
							<div class="btn-group pull-right">
								<button type="button"  id="edit-product-1" class="btn-xs btn-info edit">Редактировать</button>
								<button type="button" id="delete-product-1" class="btn-xs btn-danger delete">Удалить</button>
							</div>
						</a>
					</div>
				</div>
			</div>
		</div>
{% endblock %}
