{% extends 'layout.html'  %}

{% block local_import %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/datepicker/datepicker.min.css')}}">
{% endblock%}

{% block body%}
<script src="{{ url_for('static', filename = 'js/charts/node_modules/chart.js/dist/Chart.min.js')}}"></script>
<script src="{{ url_for('static', filename = 'js/charts_control.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/datepicker/datepicker.js')}}"></script>
</style>
<div class="row">
  <div id="chart_year" class="col-md-6">
    <h2>Статистика за год</h2>
    <canvas id="yearChart"></canvas>
  </div>
  <div id="chart_month" class="col-md-6">
    <h2>Статистика за месяц</h2>
    <canvas id="monthChart"></canvas>
  </div>
</div>
<div class="datepicker-here"> </div>
{% endblock %}
