{% extends 'layout.html'  %}

{% block local_import %}
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/datepicker/datepicker.min.css')}}">
<link rel="stylesheet" href="{{ url_for('static', filename = 'css/charts.css')}}">
{% endblock%}

{% block body%}
<script src="{{ url_for('static', filename = 'js/charts/node_modules/chart.js/dist/Chart.min.js')}}"></script>
<script src="{{ url_for('static', filename = 'js/charts_control.js') }}"></script>
<script src="{{ url_for('static', filename = 'js/datepicker/datepicker.js')}}"></script>
</style>
<div class="row">
  <div id="chart_month" class="col-xs-10 col-xs-offset-1 col-md-6 col-md-offset-1 chart">
    <h4 id="title_month">Статистика за месяц</h2>
    <canvas id="monthChart"></canvas>
  </div>
  <div id="dougnut" class="col-md-3 col-md-offset-1 chart">
    <h4 id="title_product"></h2>
    <canvas id="productChart"></canvas>
  </div>
</div>
<div class="row">
  <div id="chart_year" class="col-md-10 col-md-offset-1 chart">
    <h4 id="title_year"></h2>
    <canvas id="yearChart"></canvas>
  </div>
</div>
{% endblock %}
