<!doctype html>

<html lang="ru">
<head>
	<meta charset="UTF-8">
	{% if title %}
	<title>{{ title }}</title>
	{% else %}
	<title> FastFoodManager</title>
	{% endif %}
	<link href="{{ url_for('static', filename = 'css/bootstrap/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename = 'css/style.css') }}" rel="stylesheet">
	{% block local_import %}{% endblock %}
	<!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
		<script src="{{url_for('static', filename= 'js/jquery-3.2.1.min.js')}}"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="{{ url_for('static', filename = 'js/bootstrap/bootstrap.min.js') }}"></script>
	<!-- http://1000hz.github.io/bootstrap-validator/ -->
	<!-- <script src="https://cdnjs.cloudflare.com/ajax/libs/1000hz-bootstrap-validator/0.11.5/validator.min.js"></script> -->
</head>
<body>
    <div class="container-fluid">
		<div class="row">
			<header>
				<div class="logo">
					<h1>FoodManager</h1>
					<a href="{{ url_for('index') }}"><img src="{{ url_for('static', filename = 'img/logo.ico') }}" alt=""></a>
				</div>
			</header>
		</div>
        {% block body %}
			{% block modal_window %}
			{% endblock %}
        {% endblock %}
    </div>
</body>
</html>
