{% extends 'layout.html' %}

{% block body %}
    <form class="login" action="{{ url_for('login')}}" method="POST" name="login" data-toggle="validator">
        <h2>Авторизация</h2>
        <div class="form-group">
            <label for="email">Логин(email)</label>
            <input type="text"  name="email"  class="form-control" required type="text">
            <div class="help-block with-errors"></div>
        </div>
        <div class="form-group">
            <label for="password">Пароль</label>
            <input type="password" name="password" class="form-control" required type="text">
            <div class="help-block with-errors"></div>
        </div>
        <div class="checkbox">
            <label><input type="checkbox">Запомнить меня</label>
        </div>
        <input type="submit" value="Войти">
    </form>
{% endblock %}