<!doctype html>
<html lang="ru">
<head>
	<meta charset="UTF-8">
	<title>Авторизация</title>
	<link href="{{ url_for('static', filename = 'css/bootstrap/bootstrap.min.css') }}" rel="stylesheet">
	<link href="{{ url_for('static', filename = 'css/style.css') }}" rel="stylesheet">
  <link rel="stylesheet" href="{{ url_for('static', filename = 'css/login.css')}}">
	<script src="{{url_for('static', filename= 'js/jquery-3.2.1.min.js')}}"></script>
  <script src="{{ url_for('static', filename = 'js/bootstrap/bootstrap.min.js') }}"></script>
</head>
<body>
  <div class="login-content">
    <form role="form" class="login" action="{{ url_for('login')}}" method="POST" name="login">
        <h4>Авторизация</h4>
        <div class="form-group has-feedback has-feedback-left">
            <input type="text"  name="email"  class="form-control" placeholder="Логин">
            <i class="form-control-feedback glyphicon glyphicon-user"></i>
        </div>
        <div class="form-group has-feedback has-feedback-left">
            <input type="password" name="password" class="form-control" placeholder="Пароль">
            <i class="form-control-feedback glyphicon glyphicon-lock "></i>
        </div>
        <input type="button" value="Войти">
    </form>
  </div>
</body>
</html>
