{% extends 'layout.html' %}

{% block body %}
		<div id="content" class="row">
			<div class="col-md-4">
				<a href="{{ url_for('catalog')}}">
					<div class="menu">
					<span class="glyphicon glyphicon-book"></span>
					<h3>Справочник</h2>
				</div>
				</a>
			</div>
			<div class="col-md-4">
				<a href="{{ url_for('cashbox')}}">
					<div class="menu">
						<span class="glyphicon glyphicon-shopping-cart"></span>
						<h3>Касса</h2>
					</div>
				</a>
			</div>
			<div class="col-md-4">
				<div class="menu">
					<span class="glyphicon glyphicon-stats"></span>
					<h3>Отчеты</h2>
					<a href=""></a>
				</div>
			</div>
		</div>
{% endblock %}